<footer>
    <article id="socials">
        <a href="https://github.com/Imrxng?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/imran-ghaddoura-b1b778255/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </article>
    <article>
        <p>&copy; 2024 Alle Rechten Voorbehouden.</p>
        <p>Door <span>Imran Ghaddoura</span></p>
    </article>
    <article>
        <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
    </article>
</footer>
</body>
</html>
