@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--detail-color);
  border-radius: 10px;
}

:root {
  --primary-color: #435058;
  --secondary-color: #848c8e;
  --detail-color: #dcf763;
  --font-color: #f1f2ee;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: grid;
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-color);
  grid-template-areas:
    "header"
    "intro"
    "aboutme"
    "myservices"
    "myskills"
    "mywork"
    "contactme"
    "footer";
}

header {
  grid-area: header;
  height: 6rem;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding-right: 20rem;
  padding-left: 20rem;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  grid-area: footer;
  height: 6rem;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 17rem;
  padding-right: 20rem;
  padding-left: 20rem;
  height: 8rem;
}

h1 {
  font-size: xx-large;
  font-weight: bolder;
}
i {
  color: var(--detail-color);
}

span {
  color: var(--detail-color);
}

input[type="text"] {
  background-color: var(--font-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 10px;
}

label {
  margin: 10px 0 10px 0;
}
textarea {
  background-color: var(--font-color);
  border-radius: 10px;
  color: var(--primary-color);
  padding: 1rem;
}
.fa-angles-up {
  border: var(--detail-color) 1px solid;
  padding: 10px;
  border-radius: 50%;
  color: var(--font-color);
}

.fa-brands,
.fa-solid,
.fa-regular {
  font-size: x-large;
}

.fa-download {
  color: var(--primary-color);
}
.fa-paper-plane {
  color: var(--detail-color);
}
.skills {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsIcons {
  width: 38px;
  height: 38px;
}

.skillsVierkant {
  border-radius: 20px;
}

.myworkfigure1 {
  background: url("../assets/images/admin.webp");
}

.myworkfigure2 {
  background: url("../assets/images/fitimproving.webp");
}

.myworkfigure3 {
  background: url("../assets/images/library.webp");
}

.myworkfigure {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px var(--detail-color) solid;
  box-shadow: inset 0px -20px 8px -5px var(--detail-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.myworkfigure > figcaption {
  margin-top: 7.4rem;
  margin-left: 0.7rem;
}

.infoTekst2 {
  font-size: xx-large;
}

.Button {
  padding: 1rem 5rem 1rem 5rem;
  background-color: var(--detail-color);
  border-radius: 10px;
  color: var(--primary-color);
}

.contactemoj {
  margin-top: 5rem;
}

#intro {
  grid-area: intro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

#intro > article > div {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

#aboutme {
  grid-area: aboutme;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

#aboutmetext {
  text-align: left;
  width: 50%;
}

#aboutmetext > h1 {
  margin-bottom: 2rem;
}

#myservices {
  grid-area: myservices;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  gap: 5rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

#myservicesdivs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#myskills {
  grid-area: myskills;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  height: 30rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

#allSkills {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  width: 15rem;
}

#mywork {
  grid-area: mywork;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem 20rem 5rem 20rem;

}

#mywork > article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#contactme {
  grid-area: contactme;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  gap: 5rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

#contactme > h1 {
  margin-left: 8rem;
}

#contactme > article {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contactme > article > div, .contactemoj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#mezelf {
  background-color: var(--detail-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  box-shadow: -1px 0px 58px -2px var(--detail-color);
}

#namefooter {
  color: var(--detail-color);
}

#infoTekst1 {
  font-size: x-large;
}

#talkButton {
  padding: 1rem 3.5rem 1rem 3.5rem;
  border: 1px solid var(--detail-color);
  border-radius: 10px;
  color: var(--detail-color);
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#submitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 13rem;
  color: var(--primary-color);
  font-weight: bolder;
}

#maincontact {
  background-color: var(--secondary-color);
  padding: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

#maincontact  > h1{
  text-align: center;
  margin-bottom: 5rem;
}

#maincontact > section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#map {
  height: 450px;
  width: 30%;
  border-radius: 10px;
  border: var(--primary-color) 20px solid;
}
