<!DOCTYPE html>
<html lang="NL-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/icons/portfolio.webp" type="image/x-icon">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d59bc2ea1d.js" crossorigin="anonymous"></script>   
</head>
<body>
    <header id="#top">
        <p>Imran <span>Ghaddoura</span></p>
        <nav>
            <a href="">About</a>
            <a href="">My Skills</a>
            <a href="">My Work</a>
            <a href="">Contact me</a>
        </nav>
        <section>
            <img src="./assets/icons/english.webp" alt="englishflag">
            <img src="./assets/icons/dutch.webp" alt="dutchflag">
        </section>
    </header>
    <main>
        <section>
            <article>
                <p>Hi, My name is</p>
                <p>Imran <span>Ghaddoura</span>,</p>
                <p>I'am a Full Stack Developer</p>
                <div>
                    <a href="/download/CV_Imran_Ghaddoura.pdf" download="CV_Imran_Ghaddoura.pdf">CV <i class="fa-solid fa-download"></i></a>
                    <a href="/contact">Let's  talk <i class="fa-regular fa-paper-plane"></i></a>
                </div>
            </article>
            <article>
                <img src="./assets/images/mezelf.webp" alt="imran">
            </article>
        </section>
        <section>
            <article>
                <p>About me</p>
                <p>Ik sta open voor alle werk en ben dus bereid om alles te doen. Ik wil veel nieuwe kennis opdoen en nieuwe mensen leren kennen. Ik ben een enthousiaste, leergierige hardwerkende persoon. Ik kan heel goed alleen en ook in teamverband werken. Met mijn academische basis ben ik vastberaden om mijn vaardigheden in C#, OOP, webontwikkeling en SQL verder te ontwikkelen en te verfijnen in de praktijk. Op mij kunnen jullie rekenen! </p>
            </article>
            <article>
                <img src="" alt="">
            </article>
        </section>
        <section>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <p>My Skills</p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
        </section>
        <section>
            <article>
                <p>My Work</p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </section>
        <section>
            <article>
                <p>Contact Me</p>
                <div>
                    <div><i class="fa-regular fa-envelope"></i><a href="mailto:imran.ghaddoura@student.ap.be">imran.ghaddoura@student.ap.be</a></div>
                    <div><i class="fa-solid fa-location-dot"></i><p>Belgium - Antwerp</p></div>
                    <div><i class="fa-solid fa-mobile-screen-button"></i><a href="tel:+32489699900">+32489699900</a></div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <i class="fa-brands fa-linkedin"></i>
        </article>
        <article>
            <p>&copy; 2024 All Rights Reserved. By</p>
            <p>Imran Ghaddoura</p>
        </article>
        <article>
            <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
        </article>
    </footer>
</body>
</html>