<!DOCTYPE html>
<html lang="NL-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/icons/portfolio.webp" type="image/x-icon">
    <title>Document</title>
    <link rel="stylesheet" href="./cssportfolio/reset.css">
    <link rel="stylesheet" href="./cssportfolio/style.css">
    <script src="https://kit.fontawesome.com/d59bc2ea1d.js" crossorigin="anonymous"></script>   
</head>
<body>
    <header id="#top">
        <p>Imran <span>Ghaddoura</span></p>
        <nav>
            <a href="#aboutme">Over</a>
            <a href="#myservices">Mijn Services</a>
            <a href="#myskills">Mijn Skills</a>
            <a href="#mywork">Mijn Werk</a>
            <a href="#contactme">Contacteer Me</a>
        </nav>
        <section>
            <img src="./assets/icons/english.webp" alt="englishflag">
            <img src="./assets/icons/dutch.webp" alt="dutchflag">
        </section>
    </header>
    <main>
        <section id="intro">
            <article>
                <p id="intoTekst1">Hallo, mijn naam is</p>
                <p class="infoTekst2">Imran <span>Ghaddoura</span>,</p>
                <p class="infoTekst2">Ik ben een Full Stack Developer</p>
                <div >
                    <a href="/download/CV_Imran_Ghaddoura.pdf" id="downloadButton" download="CV_Imran_Ghaddoura.pdf">CV <i class="fa-solid fa-download"></i></a>
                    <a href="/contact" id="talkButton">Let's  talk    <i class="fa-regular fa-paper-plane"></i></a>
                </div>
            </article>
            <article>
                <img src="./assets/images/mezelf.webp" id="mezelf" alt="imran">
            </article>
        </section>
        <section id="aboutme">
            <article id="aboutmetext">
                <h1>Over <span>Me</span></h1>
                <p>Ik sta open voor alle werk en ben dus bereid om alles te doen. Ik wil veel nieuwe kennis opdoen en nieuwe mensen leren kennen. Ik ben een enthousiaste, leergierige hardwerkende persoon. Ik kan heel goed alleen en ook in teamverband werken. Met mijn academische basis ben ik vastberaden om mijn vaardigheden in C#, OOP, webontwikkeling en SQL verder te ontwikkelen en te verfijnen in de praktijk. Op mij kunnen jullie rekenen! </p>
            </article>
            <article>
                <img src="./assets/images/deco1.webp" alt="">
            </article>
        </section>
        <section id="myservices">
            <article>
                <h1>Mijn <span>Services</span></h1>
            </article>
            <article id="myservicesdivs">
                <div>
                    <h2>Creative graphic design</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>

                </div>
                <div>
                    <h2>Interactive frontend development</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
                <div>
                    <h2>User experience</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
                <div>
                    <h2>Maintenance and technical support</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
            </article>
        </section>
        <section id="myskills">
            <img src="./assets/images/deco2.webp" alt="">
            <article>
                <h1>Mijn <span>Skills</span></h1>
                <div id="allSkills">
                    <div class="skills">
                        <img src="./assets/icons/javascript.webp" alt="javascript" class="skillsIcons skillsVierkant">
                    </div>
                    <div class="skills">
                        <img src="./assets/icons/typescript.webp" alt="typescript" class="skillsIcons skillsVierkant">
                    </div>
                    <div class="skills">
                        <img src="./assets/icons/html.webp" alt="html" class="skillsIcons">
                    </div>
                    <div class="skills"> 
                        <img src="./assets/icons/css.webp" alt="css" class="skillsIcons">
                    </div>
                    <div class="skills">
                        <img src="./assets/icons/csharp.webp" alt="csharp" class="skillsIcons">
                    </div>
                    <div class="skills">
                        <img src="./assets/icons/mongo.webp" alt="mongo" class="skillsIcons">
                    </div>
                    <div class="skills">
                        <img src="./assets/icons/sql.webp" alt="sql" class="skillsIcons">
                    </div>
                </div>
            </article>
        </section>
        <section id="mywork">
            <h1>Mijn <span>Werk</span></h1>
            <article>
                <a href="">
                    <figure class="myworkfigure myworkfigure1">
                        <figcaption>Admin UI (Express)</figcaption>
                    </figure>
                </a>
                <a href="">
                    <figure class="myworkfigure myworkfigure2">
                        <figcaption>Webshop (HTML & CSS)</figcaption>
                    </figure>
                </a>
                <a href="">
                    <figure class="myworkfigure myworkfigure3">
                        <figcaption>Library (C#)</figcaption>
                    </figure>
                </a>
                <a href="">
                    <figure class="myworkfigure myworkfigure4">
                        <figcaption>Card Game (Express)</figcaption>
                    </figure>
                </a>
            </article>
        </section>
        <section id="contactme">
            <h1>Contacteer <span>Me</span></h1>
            <article>
                <div><i class="fa-regular fa-envelope"></i><a href="mailto:imran.ghaddoura@student.ap.be">imran.ghaddoura@student.ap.be</a></div>
                <div><i class="fa-solid fa-location-dot"></i><p>Belgium - Antwerp</p></div>
                <div><i class="fa-solid fa-mobile-screen-button"></i><a href="tel:+32489699900">+32489699900</a></div>
            </article>
            <form action="/" method="post" id="contactForm">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <label for="email">Mail:</label>
                <input type="text" name="mail" id="">
                <label for="vraag">Vraag:</label>
                <textarea name="vraag" id="vraag" cols="30" rows="10"></textarea><br>
                <button id="downloadButton" style="width: 90%;">Verzenden     <i class="fa-regular fa-paper-plane"></i></button>
            </form>
        </section>
    </main>
    <footer>
        <article>
            <a href="https://www.linkedin.com/in/imran-ghaddoura-b1b778255/"><i class="fa-brands fa-linkedin"></i></a>
        </article>
        <article>
            <p>&copy; 2024 All Rights Reserved. By</p>
            <p id="namefooter">Imran Ghaddoura</p>
        </article>
        <article>
            <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
        </article>
    </footer>
</body>
</html>