<%- include("partials/header_en") %>
<main>
  <section id="intro">
    <article>
      <p id="intoTekst1">Hi, my name is</p>
      <p class="infoTekst2">Imran <span>Ghaddoura</span>,</p>
      <p class="infoTekst2">I'm a Full Stack Developer</p>
      <div>
        <a
          href="/download/CV_Imran_Ghaddoura.pdf"
          class="Button"
          download="CV_Imran_Ghaddoura.pdf"
          >CV <i class="fa-solid fa-download"></i
        ></a>
        <a href="/contact" id="talkButton"
          >Let's talk <i class="fa-regular fa-paper-plane"></i
        ></a>
      </div>
    </article>
    <article id="mezelf">
      <img src="./assets/images/duim.webp" alt="imran" />
    </article>
  </section>
  <section id="aboutme">
    <article id="aboutmetext">
      <h1>About <span>Me</span></h1>
      <p>
        I am open to all kinds of work and willing to do anything. I am eager to
        acquire new knowledge and meet new people. I am an enthusiastic,
        curious, hardworking individual. I excel both independently and in a
        team environment. With my academic background, I am determined to
        further develop and refine my skills in C#, OOP, web development, and
        SQL in practice. You can count on me!
      </p>
    </article>
    <article>
      <img src="./assets/images/deco1.webp" alt="" />
    </article>
  </section>
  <section id="myservices">
    <article>
      <h1>My <span>Services</span></h1>
    </article>
    <article id="myservicesdivs">
      <div class="servicesBox">
        <i class="fa-solid fa-code bigicons"></i>
        <h2>Interactive frontend development</h2>
        <ul>
          <li>Creating responsive websites.</li>
          <li>HTML, CSS & JavaScript.</li>
          <li>Website performance and accessibility.</li>
        </ul>
      </div>
      <div class="servicesBox">
        <i class="fa-solid fa-database bigicons"></i>
        <h2>Backend development</h2>
        <ul>
          <li>Development of scalable and robust server-side applications.</li>
          <li>Experience with Node.js (express).</li>
          <li>Database management and optimization (SQL, MongoDB).</li>
          <li>Security and data protection.</li>
        </ul>
      </div>
      <div class="servicesBox">
        <i class="fa-solid fa-screwdriver-wrench bigicons"></i>
        <h2>Maintenance and technical support</h2>
        <ul>
            <li>Regular website updates.</li>
            <li>Monitoring website performance.</li>
            <li>24/7 support.</li>
            <li>Resolution of technical issues and bug fixes.</li>
        </ul>
      </div>
    </article>
  </section>
  <section id="myskills">
    <img src="./assets/images/deco2.webp" alt="" />
    <article>
      <h1>My <span>Skills</span></h1>
      <div id="allSkills">
        <div class="skills">
          <img
            src="./assets/icons/javascript.webp"
            alt="javascript"
            class="skillsIcons skillsVierkant"
          />
        </div>
        <div class="skills">
          <img
            src="./assets/icons/typescript.webp"
            alt="typescript"
            class="skillsIcons skillsVierkant"
          />
        </div>
        <div class="skills">
          <img src="./assets/icons/html.webp" alt="html" class="skillsIcons" />
        </div>
        <div class="skills">
          <img src="./assets/icons/css.webp" alt="css" class="skillsIcons" />
        </div>
        <div class="skills">
          <img
            src="./assets/icons/csharp.webp"
            alt="csharp"
            class="skillsIcons"
          />
        </div>
        <div class="skills">
          <img
            src="./assets/icons/mongo.webp"
            alt="mongo"
            class="skillsIcons"
          />
        </div>
        <div class="skills">
          <img src="./assets/icons/sql.webp" alt="sql" class="skillsIcons" />
        </div>
      </div>
    </article>
  </section>
  <section id="mywork">
    <h1>My <span>Projects</span></h1>
    <article>
      <a href="https://project-webontwikkeling-imrxng.onrender.com" target="_blank">
        <figure class="myworkfigure myworkfigure1">
          <figcaption>Admin UI (Express)</figcaption>
        </figure>
      </a>
      <a href="https://imrxng.github.io/fitimproving/" target="_blank">
        <figure class="myworkfigure myworkfigure2">
          <figcaption>Webshop (HTML & CSS)</figcaption>
        </figure>
      </a>
      <a href="">
        <figure class="myworkfigure myworkfigure3">
          <figcaption>Library (C#)</figcaption>
        </figure>
      </a>
      <a href="">
        <figure class="myworkfigure myworkfigure4">
          <figcaption>Card Game (Express)</figcaption>
        </figure>
      </a>
    </article>
  </section>
  <section id="contactme">
    <h1>Contact <span>Me</span></h1>
    <article>
      <div>
        <i class="fa-regular fa-envelope"></i
        ><a href="mailto:imran.ghaddoura@student.ap.be"
          >imran.ghaddoura@student.ap.be</a
        >
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <p>Belgium - Antwerp</p>
      </div>
      <div>
        <i class="fa-solid fa-mobile-screen-button"></i
        ><a href="tel:+32489699900">+32489699900</a>
      </div>
    </article>
  </section>
</main>
<%- include("partials/footer_en") %>